
@keyframes chameleon
  0%
    color: #F44336
  5%
    color: #E91E63
  10%
    color: #9C27B0
  15%
    color: #673AB7
  20%
    color: #3F51B5
  25%
    color: #2196F3
  30%
    color: #03A9F4
  35%
    color: #00BCD4
  40%
    color: #009688
  45%
    color: #4CAF50
  50%
    color: #8BC34A
  55%
    color: #CDDC39
  60%
    color: #FFEB3B
  65%
    color: #FFC107
  70%
    color: #FF9800
  75%
    color: #FF5722
  80%
    color: #795548
  85%
    color: #9E9E9E
  90%
    color: #607D8B
  95%
    color: #000000
  100%
    color: #FFFFFF

@keyframes chameleon-bg
  0%
    background-color: #F44336
  5%
    background-color: #E91E63
  10%
    background-color: #9C27B0
  15%
    background-color: #673AB7
  20%
    background-color: #3F51B5
  25%
    background-color: #2196F3
  30%
    background-color: #03A9F4
  35%
    background-color: #00BCD4
  40%
    background-color: #009688
  45%
    background-color: #4CAF50
  50%
    background-color: #8BC34A
  55%
    background-color: #CDDC39
  60%
    background-color: #FFEB3B
  65%
    background-color: #FFC107
  70%
    background-color: #FF9800
  75%
    background-color: #FF5722
  80%
    background-color: #795548
  85%
    background-color: #9E9E9E
  90%
    background-color: #607D8B
  95%
    color: #000000
  100%
    color: #FFFFFF

.chameleon-txt
  animation-name: chameleon
  animation-duration: 5s

.chameleon-bg
  animation-name: chameleon-bg
  animation-duration: 5s
