/* @group Base */
*
  box-sizing: border-box;
  color: $black
  font-family: font
  font-size: typography-size-base
  font-weight: 400
  margin: 0.25em 0
  padding: 0
  word-wrap: break-word;

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form
  margin-bottom: 1.5rem

strong, b
  font-weight: 700;
  color: $black

em, i
  font-style: italic

small
  font-size: 0.8rem

sup
  font-size: 0.8rem
  top: 0.8em

sub
  font-size: 0.8rem
  bottom: -0.8em

.color-blue
  color: #3344dd
.color-red
  color: #b50010
.color-purple
  color: #804180

/* @end */
