/* @group Base */
html
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  font-family: sans-serif
  font-size: 62.5%

body
  color: $black
  font-family: font
  font-weight: 400;
  font-size: golden-font-size-base rem
  line-height: golden-ratio
  margin: 0;
  padding: 0;
  word-wrap: break-word


html,
body,
button,
span,
object,
iframe,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
select,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
a
  margin-bottom: golden-font-size-base rem

strong, b
  font-weight: 700;
  color: $black

em, i
  font-style: italic

small
  font-size: golden-font-size-small rem

sup
  font-size: golden-font-size-small rem
  top: 0.8em

sub
  font-size: golden-font-size-small rem
  bottom: -0.8em

.color-blue
  color: #3344dd
.color-red
  color: #b50010
.color-purple
  color: #804180

/* @end */
