/* Table Of Content
==================================================

	#	Configurations
		#	Colours
		# Variables

	#	Resets
		# Base
		# Divider
		# Typography

	#	Core
		# Grid

	#	Components
		# Button
		# Code
		# Form
		# Image
		# Links
		# Lists
		# Table
		# Util

==================================================
/* @group Media Queries */

@media (min-width: 576px)
  .container
    max-width: 540px

@media (min-width: 768px)
  .container
    max-width: 750px

@media (min-width: 992px)
  .container
    max-width: 970px

@media (min-width: 1200px)
  .container
    max-width: 1170px

/* @end */
