/* Table Of Content
==================================================

	#	Configurations
		# Variables

	#	Resets
		# Base
		# Divider
		# Typography

	#	Core
		# Grid

	#	Components
		# Button
		# Code
		# Form
		# Image
		# Links
		# Lists
		# Table
		# Util

==================================================
/* @group Media Queries */

@media (min-width: 320px)
  .container
    max-width: 302px

@media (min-width: 480px)
  .container
    max-width: 458px

@media (min-width: 576px)
  .container
    max-width: 549px

@media (min-width: 768px)
  .container
    max-width: 724px

@media (min-width: 1024px)
  .container
    max-width: 940px

@media (min-width: 1280px)
  .container
    max-width: 1180px

@media (min-width: 1440px)
  .container
    max-width: 1300px

/* @end */
