/* @group Variables */

  // Font Family
  font = 'Open Sans', sans-serif

  // Golden Ratio Variables
  golden-ratio = 1.6180339887498948482
  golden-large = round((1 / golden-ratio), 3)
  golden-small = round((1 - golden-large), 3)

  // Golden Ratio Font Sizes
  golden-font-size-base= golden-ratio
  golden-font-size-large= round(2 * golden-font-size-base * golden-large, 3)
  golden-font-size-small= round(2 * golden-font-size-base * golden-small, 3)

  // Golden Ratio Headers
  golden-h1 = round(golden-font-size-base * (golden-ratio ** 6), 3)
  golden-h2 = round(golden-font-size-base * (golden-ratio ** 5), 3)
  golden-h3 = round(golden-font-size-base * (golden-ratio ** 4), 3)
  golden-h4 = round(golden-font-size-base * (golden-ratio ** 3), 3)
  golden-h5 = round(golden-font-size-base * (golden-ratio ** 2), 3)
  golden-h6 = round(golden-font-size-base * (golden-ratio), 3)

  // Golden Ratio Line Height
  golden-line-height-h1 = round(golden-font-size-base * (golden-ratio ** 2), 3)
  golden-line-height-h2 = round(golden-font-size-base * (golden-ratio ** 3), 3)
  golden-line-height-h3 = round(golden-font-size-base * (golden-ratio ** 4), 3)
  golden-line-height-h4 = round(golden-font-size-base * (golden-ratio ** 5), 3)
  golden-line-height-h5 = round(golden-font-size-base * (golden-ratio ** 6), 3)
  golden-line-height-h6 = round(golden-font-size-base * (golden-ratio ** 7), 3)

  // Accessible Color Contrast */
  $black      = #000000
  $error      = #b2081a
  $gray-dark  = #212529
  $gray-light = #515960
  $gray       = #495057
  $info       = #006073
  $primary    = #0047dd
  $secondary  = #0057a8
  $success    = #2e6430
  $warning    =#993900
  $white      = #ffffff

  // Basic color keywords
  color-black	  = #000000
  color-silver	= #C0C0C0
  color-grey	  = #808080
  color-white	  = #FFFFFF
  color-maroon	= #800000
  color-red	    = #FF0000
  color-purple	= #800080
  color-fuchsia	= #FF00FF
  color-green	  = #008000
  color-lime	  = #00FF00
  color-olive	  = #808000
  color-yellow	= #FFFF00
  color-navy	  = #000080
  color-blue	  = #0000FF
  color-teal	  = #008080
  color-aqua	  = #00FFFF

/* @end */
