/* @group Button */
-highlight($strength = .3)
  box-shadow: s("inset 0 1px 0 %s", rgba(255,255,255,$strength))

button, .button, [type=submit]
  -highlight()
  background: #F1F3F4
  border:0
  color: var(--button-color)
  cursor: pointer
  display inline-block
  font-size: golden-font-size-base rem
  margin-bottom: golden-ratio rem
  padding: golden-ratio rem
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: all 150ms linear
  user-select: none
  vertical-align: middle
  white-space nowrap
      min-width: 27rem
  &:link, &:visited
    background: var(--background-color-700)
    color: var(--button-color)
  &:active,
  &.active
    background: var(--background-color-700)
    color: var(--button-color)
    opacity: 0.85
    text-decoration: none
    transition: all 150ms linear
  &:hover
    opacity: 0.9
    text-decoration: none
    transition: all 150ms linear
  &:focus
    background: var(--background-color-200)
    opacity: 0.7
    text-decoration: none
    transition: all 150ms linear
  &:disabled
    color: var(--background-color-700)
    cursor: not-allowed
    opacity: .5
    pointer-events: none
    transition: all 150ms linear
  &.primary
    background: var(--color-primary)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      text-decoration: none
      transition: all 150ms linear
  &.secondary
    background: var(--color-secondary)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      text-decoration: none
      transition: all 150ms linear
  &.info
    background: var(--color-info)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      text-decoration: none
      transition: all 150ms linear
  &.success
    background: var(--color-success)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      text-decoration: none
      transition: all 150ms linear
  &.error
    background: var(--color-danger)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      transition: all 150ms linear
      text-decoration: none
  &.warning
    background: var(--color-warning)
    color: var(--button-color)
    cursor: pointer
    transition: all 150ms linear
    &:hover
      opacity: 0.5
      transition: all 150ms linear
      text-decoration: none
  &.link
    background: 0 0
    border-color: transparent
    box-shadow: none
    color: var(--link-color)
    cursor: pointer
    transition: all 150ms linear
    text-decoration: none
    &:visited
      color: var(--link-color-visited)
    &:hover,&:active
      color: var(--link-color-hover)
      text-decoration: underline
    &:focus
      color: var(--link-color-focus)
      outline: thin dotted
      outline: 1px auto -webkit-focus-ring-color
      outline-offset: -2px

.button-group
  *letter-spacing: normal
  *word-spacing: -0.43em
  border: 0
  border-radius: 0
  letter-spacing: -0.31em
  text-rendering: optimizespeed

.btn
  border-radius: .3rem
  cursor: pointer
  display: inline-block
  font-size: golden-font-size-base rem
  line-height: 60px
  min-height: 60px
  min-width: 60px
  position: relative
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: all 150ms linear
  user-select: none
  vertical-align: middle
  white-space: nowrap
  z-index: 1
  &:hover
    opacity: 0.5
    transition: all 150ms linear
    text-decoration: none
  &-round
    border-radius: 50%
    &:hover
      opacity: 0.5
      transition: all 150ms linear
      text-decoration: none
  &-oval
    border-radius: 61.25rem
    min-width: 9rem
    &:hover
      opacity: 0.5
      transition: all 150ms linear
      text-decoration: none
  &-outline
    border: 2px solid transparent
    &:hover
      opacity: 0.5
      transition: all 150ms linear
      text-decoration: none

.block
  border: none
  display: block
  height: 60px
  padding: .6rem
  width: 98.7%
  line-height: 60px

button.primary-outline,
    .button.primary-outline,
    [type=submit].primary-outline
	color #0047dd
	background-color #fff
	border 1px solid #0047dd
button.primary-outline:hover,
    .button.primary-outline:hover,
    [type=submit].primary-outline:hover
	background-color #0047dd
	color #fff
	transition all 150ms linear
	text-decoration none
	opacity 1
button.secondary-outline,
    .button.secondary-outline,
    [type=submit].secondary-outline
	color #0057a8
	background-color #fff
	border 1px solid #0057a8
button.secondary-outline:hover,
    .button.secondary-outline:hover,
    [type=submit].secondary-outline:hover
	background-color #0057a8
	color #fff
	transition all 150ms linear
	text-decoration none
	opacity 1
button.success-outline,
    .button.success-outline,
    [type=submit].success-outline
	color #2e6430
	background-color #fff
	border 1px solid #2e6430
button.success-outline:hover,
    .button.success-outline:hover,
    [type=submit].success-outline:hover
	background-color #2e6430
	color #fff
	transition all 150ms linear
	text-decoration none
	opacity 1
button.error-outline,
    .button.error-outline,
    [type=submit].error-outline
	color #b2081a
	background-color #fff
	border 1px solid #b2081a
button.error-outline:hover,
    .button.error-outline:hover,
    [type=submit].error-outline:hover
	background-color #b2081a
	color #fff
	transition all 150ms linear
	text-decoration none
	opacity 1
button.warning-outline,
    .button.warning-outline,
    [type=submit].warning-outline
	color #993900
	background-color #fff
	border 1px solid #993900
button.warning-outline:hover,
    .button.warning-outline:hover,
    [type=submit].warning-outline:hover
	background-color #993900
	color #fff
	transition all 150ms linear
	text-decoration none
	opacity 1


/* @end */
