/* @group Cards */
.card
	background: var(--background-color-100)
	border: 1px solid var(--border-color-300)
	margin-bottom: golden-ratio rem

.card a
	color: var(--color)
	text-decoration: none

.card a:hover
	text-decoration: none

.card-content
	padding: golden-ratio rem

.cards
   display: flex
   flex-wrap: wrap
   justify-content: space-between

.card
	flex: 0 1 (25% - golden-ratio) rem

.card, .card strong
  color: var(--color)
/* @end */
