/* @group Code */
pre, code
  background: $grey-50
  direction: ltr;
  display: block
  font-family: "Consolas", "Monaco", "Menlo", monospace
  padding: 1rem
  text-align: left;  
  white-space: pre-wrap
  word-wrap: break-word
/* @end */
