/* @group Lists */
table
  border: 1px solid $grey-200
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  padding-bottom: 25px

thead
  background-color: $grey-50
  color: $black
  text-align: left
  vertical-align: bottom

td, th
  background-color: transparent
  border-left: 1px solid $grey-200
  border-width: 0 0 0 1px
  font-size: inherit
  margin: 0
  overflow: visible
  padding: 6px 12px
  vertical-align: bottom
/* @end */
