/* @group Utilities */

// Text
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-uppercase
  text-transform: uppercase

.text-lowercase
  text-transform: lowercase

// Sizing
.size-full-height
  min-height: 100vh

.size-full-width
  width: 100%

.size-full
  min-height: 100vh
  width: 100%

// Visibility
.hidden
  display: none

// Flexbox Utilities
.flex
  display: flex

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.direction-vertical
  flex-direction: column

.direction-horizontal
  flex-direction: row

.center
  align-items: center
  flex-direction: column
  justify-content: center

/* @end */
