/* @group Background Colours */

@import 'colours.styl'

// Material Design Shades
variant = 50, 100, 200, 300, 400, 500, 600, 700, 800, 900
shades = 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, a100, a200, a400, a700

// Red
  for red-color, i in red-colors
    .bg-color-red-{shades[i]}
      background-color: red-color

// Pink
  for pink-color, i in pink-colors
    .bg-color-pink-{shades[i]}
      background-color: pink-color

// Purple
  for purple-color, i in purple-colors
    .bg-color-purple-{shades[i]}
      background-color: purple-color

// Deep Purple
  for deep-purple-color, i in deep-purple-colors
    .bg-color-deep-purple-{shades[i]}
      background-color: deep-purple-color


// Indigo
  for indigo-color, i in indigo-colors
    .bg-color-indigo-{shades[i]}
      background-color: indigo-color

// Blue
  for blue-color, i in blue-colors
    .bg-color-blue-{shades[i]}
      background-color: blue-color

// Light Blue
  for light-blue-color, i in light-blue-colors
    .bg-color-light-blue-{shades[i]}
      background-color: light-blue-color

// Cyan
  for cyan-color, i in cyan-colors
    .bg-color-cyan-{shades[i]}
      background-color: cyan-color

// Teal
  for teal-color, i in teal-colors
    .bg-color-teal-{shades[i]}
      background-color: teal-color

// Green
  for green-color, i in green-colors
    .bg-color-green-{shades[i]}
      background-color: green-color

// Light Green
  for light-green-color, i in light-green-colors
    .bg-color-light-green-{shades[i]}
      background-color: light-green-color

// Lime
  for lime-color, i in lime-colors
    .bg-color-lime-{shades[i]}
      background-color: lime-color

// Yellow
  for yellow-color, i in yellow-colors
    .bg-color-yellow-{shades[i]}
      background-color: yellow-color

// Amber
  for amber-color, i in amber-colors
    .bg-color-amber-{shades[i]}
      background-color: amber-color

// Orange
  for orange-color, i in orange-colors
    .bg-color-orange-{shades[i]}
      background-color: orange-color

// Deep Orange
  for deep-orange-color, i in deep-orange-colors
    .bg-color-deep-orange-{shades[i]}
      background-color: deep-orange-color

// Brown
  for brown-color, j in brown-colors
    .bg-color-brown-{variant[j]}
      background-color: brown-color

// Grey
  for grey-color, j in grey-colors
    .bg-color-grey-{variant[j]}
      background-color: grey-color

// Blue Grey
  for blue-grey-color, j in blue-grey-colors
    .bg-color-blue-grey-{variant[j]}
      background-color: blue-grey-color

// Various
.bg-color-black
  background-color: #000000
.bg-color-white
  background-color: #ffffff
.bg-color-transparent
  background-color: rgba(0, 0, 0, 0)
.bg-color-full-black
  background-color: rgba(0, 0, 0, 1)
.bg-color-dark-black
  background-color: rgba(0, 0, 0, 0.87)
.bg-color-light-black
  background-color: rgba(0, 0, 0, 0.54)
.bg-color-min-black
  background-color: rgba(0, 0, 0, 0.26)
.bg-color-faint-black
  background-color: rgba(0, 0, 0, 0.12)
.bg-color-full-white
  background-color: rgba(255, 255, 255, 1)
.bg-color-dark-white
  background-color: rgba(255, 255, 255, 0.87)
.bg-color-light-white
  background-color: rgba(255, 255, 255, 0.54)
