/* @group Colour Variables */

// Colour Variables Text Colors
.color-transparent
  color:rgba(0, 0, 0, 0)
.color-full-black
  color:rgba(0, 0, 0, 1)
.color-dark-black
  color:rgba(0, 0, 0, 0.87)
.color-light-black
  color:rgba(0, 0, 0, 0.54)
.color-min-black
  color:rgba(0, 0, 0, 0.26)
.color-faint-black
  color:rgba(0, 0, 0, 0.12)
.color-full-white
  color:rgba(255, 255, 255, 1)
.color-dark-white
  color:rgba(255, 255, 255, 0.87)
.color-light-white
  color:rgba(255, 255, 255, 0.54)

// Colour Variables Background Colors
.background-color-transparent
  background-color: rgba(0, 0, 0, 0)
.background-color-full-black
  background-color: rgba(0, 0, 0, 1)
.background-color-dark-black
  background-color: rgba(0, 0, 0, 0.87)
.background-color-light-black
  background-color: rgba(0, 0, 0, 0.54)
.background-color-min-black
  background-color: rgba(0, 0, 0, 0.26)
.background-color-faint-black
  background-color: rgba(0, 0, 0, 0.12)
.background-color-full-white
  background-color: rgba(255, 255, 255, 1)
.background-color-dark-white
  background-color: rgba(255, 255, 255, 0.87)
.background-color-light-white
  background-color: rgba(255, 255, 255, 0.54)

// Colour Variables Border Colors
.border-color-transparent
  border-color: rgba(0, 0, 0, 0)
.border-color-full-black
  border-color: rgba(0, 0, 0, 1)
.border-color-dark-black
  border-color: rgba(0, 0, 0, 0.87)
.border-color-light-black
  border-color: rgba(0, 0, 0, 0.54)
.border-color-min-black
  border-color: rgba(0, 0, 0, 0.26)
.border-color-faint-black
  border-color: rgba(0, 0, 0, 0.12)
.border-color-full-white
  border-color: rgba(255, 255, 255, 1)
.border-color-dark-white
  border-color: rgba(255, 255, 255, 0.87)
.border-color-light-white
  border-color: rgba(255, 255, 255, 0.54)

/* @end */
