/* @group Text Colours */

@import 'colours.styl'

// Material Design Shades
variant = "50", "100", "200", "300", "400", "500", "600", "700", "800", "900"
shades = "50", "100", "200", "300", "400", "500", "600", "700", "800", "900", "a100", "a200", "a400", "a700"

// Red
  for red-color, i in red-colors
    .color-red-{shades[i]}
      color: red-color

// Pink
  for pink-color, i in pink-colors
    .color-pink-{shades[i]}
      color: pink-color

// Purple
  for purple-color, i in purple-colors
    .color-purple-{shades[i]}
      color: purple-color

// Deep Purple
  for deep-purple-color, i in deep-purple-colors
    .color-deep-purple-{shades[i]}
      color: deep-purple-color


// Indigo
  for indigo-color, i in indigo-colors
    .color-indigo-{shades[i]}
      color: indigo-color

// Blue
  for blue-color, i in blue-colors
    .color-blue-{shades[i]}
      color: blue-color

// Light Blue
  for light-blue-color, i in light-blue-colors
    .color-light-blue-{shades[i]}
      color: light-blue-color

// Cyan
  for cyan-color, i in cyan-colors
    .color-cyan-{shades[i]}
      color: cyan-color

// Teal
  for teal-color, i in teal-colors
    .color-teal-{shades[i]}
      color: teal-color

// Green
  for green-color, i in green-colors
    .color-green-{shades[i]}
      color: green-color

// Light Green
  for light-green-color, i in light-green-colors
    .color-light-green-{shades[i]}
      color: light-green-color

// Lime
  for lime-color, i in lime-colors
    .color-lime-{shades[i]}
      color: lime-color

// Yellow
  for yellow-color, i in yellow-colors
    .color-yellow-{shades[i]}
      color: yellow-color

// Amber
  for amber-color, i in amber-colors
    .color-amber-{shades[i]}
      color: amber-color

// Orange
  for orange-color, i in orange-colors
    .color-orange-{shades[i]}
      color: orange-color

// Deep Orange
  for deep-orange-color, i in deep-orange-colors
    .color-deep-orange-{shades[i]}
      color: deep-orange-color

// Brown
  for brown-color, j in brown-colors
    .color-brown-{variant[j]}
      color: brown-color

// Grey
  for grey-color, j in grey-colors
    .color-grey-{variant[j]}
      color: grey-color

// Blue Grey
  for blue-grey-color, j in blue-grey-colors
    .color-blue-grey-{variant[j]}
      color: blue-grey-color

// Various
.color-black
  color:#000000
.color-white
  color:#ffffff
.color-transparent
  color:rgba(0, 0, 0, 0)
.color-full-black
  color:rgba(0, 0, 0, 1)
.color-dark-black
  color:rgba(0, 0, 0, 0.87)
.color-light-black
  color:rgba(0, 0, 0, 0.54)
.color-min-black
  color:rgba(0, 0, 0, 0.26)
.color-faint-black
  color:rgba(0, 0, 0, 0.12)
.color-full-white
  color:rgba(255, 255, 255, 1)
.color-dark-white
  color:rgba(255, 255, 255, 0.87)
.color-light-white
  color:rgba(255, 255, 255, 0.54)
