.flash {
  animation-name: flash;
}
@-moz-keyframes flash {
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes flash {
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes flash {
  25%, 75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
