// Grid variables
grid-images = "data:image/gif;base64,R0lGODlhCAAIAPIAAAfN/wjO/xnR/xrR/xvR/ybU/wAAAAAAACH5BAEAAAYALAAAAAAIAAgAAAMRaLpWvOGpIQ2V95EKyvifMCQAOw==","data:image/gif;base64,R0lGODlhEAAQAPMAAADM/wHM/wfN/w3P/xvR/+X6//H8//L8//P9/wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAkALAAAAAAQABAAAAQwMMlJJxqjamkA2NrhgZX4kZOJpuOaqC68yihN2iAOekfv/74CICDwGI9IQDGZHBAiADs=","data:image/gif;base64,R0lGODlhIAAgAIAAAADM/////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAIAAgAAACSoyPqQsNCyNyT1pFrz556+5ZYBiNJOOckqlOaYs2cFzNrmzfdR6wsw8DtoQq4slIQoaUHubG+XnxelIe9ELJarfcrvcLDovH5EYBADs=","data:image/gif;base64,R0lGODlhQABAAIAAAADM/////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAQABAAAACpoyPqcvtAaKMr9qr5sS8My15oghS43mVAMo+agsvb0wbcx3feKvvaO8bAYOeIZFjPKZKylOy6WJCi9IpsmpdgrLXLVer+YI34sqzbMOiZep14oyGl+Vi+tfOxWf1Vv7UDwXYJKhEeGRIhBik6MO444gDWSNJQ5nT5nZgCbPJg5kJ8ZnZyUL6I+pm6qTC2ur6ChsrO0tba3uLm6u7y9vr+wscLDxsWwAAOw=="
grid-sizes = 8,16,32,64

  for grid-sizes, i in grid-sizes
    // Grid generation
    .debug-grid-{grid-sizes}
      background:var(--inverted-color) url(grid-images[i]) repeat top left
