.background-color-antiquewhite {
  background-color: #f0f8ff;
}
.color-antiquewhite {
  color: #f0f8ff;
}
.border-color-antiquewhite {
  border-color: #f0f8ff;
}
.background-color-aqua {
  background-color: #0ff;
}
.color-aqua {
  color: #0ff;
}
.border-color-aqua {
  border-color: #0ff;
}
.background-color-aquamarine {
  background-color: #7fffd4;
}
.color-aquamarine {
  color: #7fffd4;
}
.border-color-aquamarine {
  border-color: #7fffd4;
}
.background-color-azure {
  background-color: #f0ffff;
}
.color-azure {
  color: #f0ffff;
}
.border-color-azure {
  border-color: #f0ffff;
}
.background-color-beige {
  background-color: #f5f5dc;
}
.color-beige {
  color: #f5f5dc;
}
.border-color-beige {
  border-color: #f5f5dc;
}
.background-color-bisque {
  background-color: #ffe4c4;
}
.color-bisque {
  color: #ffe4c4;
}
.border-color-bisque {
  border-color: #ffe4c4;
}
.background-color-black {
  background-color: #000;
}
.color-black {
  color: #000;
}
.border-color-black {
  border-color: #000;
}
.background-color-blanchedalmond {
  background-color: #ffebcd;
}
.color-blanchedalmond {
  color: #ffebcd;
}
.border-color-blanchedalmond {
  border-color: #ffebcd;
}
.background-color-blue {
  background-color: #00f;
}
.color-blue {
  color: #00f;
}
.border-color-blue {
  border-color: #00f;
}
.background-color-blueviolet {
  background-color: #8a2be2;
}
.color-blueviolet {
  color: #8a2be2;
}
.border-color-blueviolet {
  border-color: #8a2be2;
}
.background-color-brown {
  background-color: #a52a2a;
}
.color-brown {
  color: #a52a2a;
}
.border-color-brown {
  border-color: #a52a2a;
}
.background-color-burlywood {
  background-color: #deb887;
}
.color-burlywood {
  color: #deb887;
}
.border-color-burlywood {
  border-color: #deb887;
}
.background-color-cadetblue {
  background-color: #5f9ea0;
}
.color-cadetblue {
  color: #5f9ea0;
}
.border-color-cadetblue {
  border-color: #5f9ea0;
}
.background-color-chartreuse {
  background-color: #7fff00;
}
.color-chartreuse {
  color: #7fff00;
}
.border-color-chartreuse {
  border-color: #7fff00;
}
.background-color-chocolate {
  background-color: #d2691e;
}
.color-chocolate {
  color: #d2691e;
}
.border-color-chocolate {
  border-color: #d2691e;
}
.background-color-coral {
  background-color: #ff7f50;
}
.color-coral {
  color: #ff7f50;
}
.border-color-coral {
  border-color: #ff7f50;
}
.background-color-cornflowerblue {
  background-color: #6495ed;
}
.color-cornflowerblue {
  color: #6495ed;
}
.border-color-cornflowerblue {
  border-color: #6495ed;
}
.background-color-cornsilk {
  background-color: #fff8dc;
}
.color-cornsilk {
  color: #fff8dc;
}
.border-color-cornsilk {
  border-color: #fff8dc;
}
.background-color-crimson {
  background-color: #dc143c;
}
.color-crimson {
  color: #dc143c;
}
.border-color-crimson {
  border-color: #dc143c;
}
.background-color-cyan {
  background-color: #0ff;
}
.color-cyan {
  color: #0ff;
}
.border-color-cyan {
  border-color: #0ff;
}
.background-color-darkblue {
  background-color: #00008b;
}
.color-darkblue {
  color: #00008b;
}
.border-color-darkblue {
  border-color: #00008b;
}
.background-color-darkcyan {
  background-color: #008b8b;
}
.color-darkcyan {
  color: #008b8b;
}
.border-color-darkcyan {
  border-color: #008b8b;
}
.background-color-darkgoldenrod {
  background-color: #b8860b;
}
.color-darkgoldenrod {
  color: #b8860b;
}
.border-color-darkgoldenrod {
  border-color: #b8860b;
}
.background-color-darkgray {
  background-color: #a9a9a9;
}
.color-darkgray {
  color: #a9a9a9;
}
.border-color-darkgray {
  border-color: #a9a9a9;
}
.background-color-darkgrey {
  background-color: #a9a9a9;
}
.color-darkgrey {
  color: #a9a9a9;
}
.border-color-darkgrey {
  border-color: #a9a9a9;
}
.background-color-darkgreen {
  background-color: #006400;
}
.color-darkgreen {
  color: #006400;
}
.border-color-darkgreen {
  border-color: #006400;
}
.background-color-darkkhaki {
  background-color: #bdb76b;
}
.color-darkkhaki {
  color: #bdb76b;
}
.border-color-darkkhaki {
  border-color: #bdb76b;
}
.background-color-darkmagenta {
  background-color: #8b008b;
}
.color-darkmagenta {
  color: #8b008b;
}
.border-color-darkmagenta {
  border-color: #8b008b;
}
.background-color-darkolivegreen {
  background-color: #556b2f;
}
.color-darkolivegreen {
  color: #556b2f;
}
.border-color-darkolivegreen {
  border-color: #556b2f;
}
.background-color-darkorange {
  background-color: #ff8c00;
}
.color-darkorange {
  color: #ff8c00;
}
.border-color-darkorange {
  border-color: #ff8c00;
}
.background-color-darkorchid {
  background-color: #9932cc;
}
.color-darkorchid {
  color: #9932cc;
}
.border-color-darkorchid {
  border-color: #9932cc;
}
.background-color-darkred {
  background-color: #8b0000;
}
.color-darkred {
  color: #8b0000;
}
.border-color-darkred {
  border-color: #8b0000;
}
.background-color-darksalmon {
  background-color: #e9967a;
}
.color-darksalmon {
  color: #e9967a;
}
.border-color-darksalmon {
  border-color: #e9967a;
}
.background-color-darkseagreen {
  background-color: #8fbc8f;
}
.color-darkseagreen {
  color: #8fbc8f;
}
.border-color-darkseagreen {
  border-color: #8fbc8f;
}
.background-color-darkslateblue {
  background-color: #483d8b;
}
.color-darkslateblue {
  color: #483d8b;
}
.border-color-darkslateblue {
  border-color: #483d8b;
}
.background-color-darkslategray {
  background-color: #2f4f4f;
}
.color-darkslategray {
  color: #2f4f4f;
}
.border-color-darkslategray {
  border-color: #2f4f4f;
}
.background-color-darkslategrey {
  background-color: #2f4f4f;
}
.color-darkslategrey {
  color: #2f4f4f;
}
.border-color-darkslategrey {
  border-color: #2f4f4f;
}
.background-color-darkturquoise {
  background-color: #00ced1;
}
.color-darkturquoise {
  color: #00ced1;
}
.border-color-darkturquoise {
  border-color: #00ced1;
}
.background-color-darkviolet {
  background-color: #9400d3;
}
.color-darkviolet {
  color: #9400d3;
}
.border-color-darkviolet {
  border-color: #9400d3;
}
.background-color-deeppink {
  background-color: #ff1493;
}
.color-deeppink {
  color: #ff1493;
}
.border-color-deeppink {
  border-color: #ff1493;
}
.background-color-deepskyblue {
  background-color: #00bfff;
}
.color-deepskyblue {
  color: #00bfff;
}
.border-color-deepskyblue {
  border-color: #00bfff;
}
.background-color-dimgray {
  background-color: #696969;
}
.color-dimgray {
  color: #696969;
}
.border-color-dimgray {
  border-color: #696969;
}
.background-color-dimgrey {
  background-color: #696969;
}
.color-dimgrey {
  color: #696969;
}
.border-color-dimgrey {
  border-color: #696969;
}
.background-color-dodgerblue {
  background-color: #1e90ff;
}
.color-dodgerblue {
  color: #1e90ff;
}
.border-color-dodgerblue {
  border-color: #1e90ff;
}
.background-color-firebrick {
  background-color: #b22222;
}
.color-firebrick {
  color: #b22222;
}
.border-color-firebrick {
  border-color: #b22222;
}
.background-color-floralwhite {
  background-color: #fffaf0;
}
.color-floralwhite {
  color: #fffaf0;
}
.border-color-floralwhite {
  border-color: #fffaf0;
}
.background-color-forestgreen {
  background-color: #228b22;
}
.color-forestgreen {
  color: #228b22;
}
.border-color-forestgreen {
  border-color: #228b22;
}
.background-color-fuchsia {
  background-color: #f0f;
}
.color-fuchsia {
  color: #f0f;
}
.border-color-fuchsia {
  border-color: #f0f;
}
.background-color-gainsboro {
  background-color: #dcdcdc;
}
.color-gainsboro {
  color: #dcdcdc;
}
.border-color-gainsboro {
  border-color: #dcdcdc;
}
.background-color-ghostwhite {
  background-color: #f8f8ff;
}
.color-ghostwhite {
  color: #f8f8ff;
}
.border-color-ghostwhite {
  border-color: #f8f8ff;
}
.background-color-gold {
  background-color: #ffd700;
}
.color-gold {
  color: #ffd700;
}
.border-color-gold {
  border-color: #ffd700;
}
.background-color-goldenrod {
  background-color: #daa520;
}
.color-goldenrod {
  color: #daa520;
}
.border-color-goldenrod {
  border-color: #daa520;
}
.background-color-gray {
  background-color: #808080;
}
.color-gray {
  color: #808080;
}
.border-color-gray {
  border-color: #808080;
}
.background-color-grey {
  background-color: #808080;
}
.color-grey {
  color: #808080;
}
.border-color-grey {
  border-color: #808080;
}
.background-color-green {
  background-color: #008000;
}
.color-green {
  color: #008000;
}
.border-color-green {
  border-color: #008000;
}
.background-color-greenyellow {
  background-color: #adff2f;
}
.color-greenyellow {
  color: #adff2f;
}
.border-color-greenyellow {
  border-color: #adff2f;
}
.background-color-honeydew {
  background-color: #f0fff0;
}
.color-honeydew {
  color: #f0fff0;
}
.border-color-honeydew {
  border-color: #f0fff0;
}
.background-color-hotpink {
  background-color: #ff69b4;
}
.color-hotpink {
  color: #ff69b4;
}
.border-color-hotpink {
  border-color: #ff69b4;
}
.background-color-indianred {
  background-color: #cd5c5c;
}
.color-indianred {
  color: #cd5c5c;
}
.border-color-indianred {
  border-color: #cd5c5c;
}
.background-color-indigo {
  background-color: #4b0082;
}
.color-indigo {
  color: #4b0082;
}
.border-color-indigo {
  border-color: #4b0082;
}
.background-color-ivory {
  background-color: #fffff0;
}
.color-ivory {
  color: #fffff0;
}
.border-color-ivory {
  border-color: #fffff0;
}
.background-color-khaki {
  background-color: #f0e68c;
}
.color-khaki {
  color: #f0e68c;
}
.border-color-khaki {
  border-color: #f0e68c;
}
.background-color-lavender {
  background-color: #e6e6fa;
}
.color-lavender {
  color: #e6e6fa;
}
.border-color-lavender {
  border-color: #e6e6fa;
}
.background-color-lavenderblush {
  background-color: #fff0f5;
}
.color-lavenderblush {
  color: #fff0f5;
}
.border-color-lavenderblush {
  border-color: #fff0f5;
}
.background-color-lawngreen {
  background-color: #7cfc00;
}
.color-lawngreen {
  color: #7cfc00;
}
.border-color-lawngreen {
  border-color: #7cfc00;
}
.background-color-lemonchiffon {
  background-color: #fffacd;
}
.color-lemonchiffon {
  color: #fffacd;
}
.border-color-lemonchiffon {
  border-color: #fffacd;
}
.background-color-lightblue {
  background-color: #add8e6;
}
.color-lightblue {
  color: #add8e6;
}
.border-color-lightblue {
  border-color: #add8e6;
}
.background-color-lightcoral {
  background-color: #f08080;
}
.color-lightcoral {
  color: #f08080;
}
.border-color-lightcoral {
  border-color: #f08080;
}
.background-color-lightcyan {
  background-color: #e0ffff;
}
.color-lightcyan {
  color: #e0ffff;
}
.border-color-lightcyan {
  border-color: #e0ffff;
}
.background-color-lightgoldenrodyello {
  background-color: #fafad2;
}
.color-lightgoldenrodyello {
  color: #fafad2;
}
.border-color-lightgoldenrodyello {
  border-color: #fafad2;
}
.background-color-lightgray {
  background-color: #d3d3d3;
}
.color-lightgray {
  color: #d3d3d3;
}
.border-color-lightgray {
  border-color: #d3d3d3;
}
.background-color-lightgrey {
  background-color: #d3d3d3;
}
.color-lightgrey {
  color: #d3d3d3;
}
.border-color-lightgrey {
  border-color: #d3d3d3;
}
.background-color-lightgreen {
  background-color: #90ee90;
}
.color-lightgreen {
  color: #90ee90;
}
.border-color-lightgreen {
  border-color: #90ee90;
}
.background-color-lightpink {
  background-color: #ffb6c1;
}
.color-lightpink {
  color: #ffb6c1;
}
.border-color-lightpink {
  border-color: #ffb6c1;
}
.background-color-lightsalmon {
  background-color: #ffa07a;
}
.color-lightsalmon {
  color: #ffa07a;
}
.border-color-lightsalmon {
  border-color: #ffa07a;
}
.background-color-lightseagreen {
  background-color: #20b2aa;
}
.color-lightseagreen {
  color: #20b2aa;
}
.border-color-lightseagreen {
  border-color: #20b2aa;
}
.background-color-lightskyblue {
  background-color: #87cefa;
}
.color-lightskyblue {
  color: #87cefa;
}
.border-color-lightskyblue {
  border-color: #87cefa;
}
.background-color-lightslategray {
  background-color: #789;
}
.color-lightslategray {
  color: #789;
}
.border-color-lightslategray {
  border-color: #789;
}
.background-color-lightslategrey {
  background-color: #789;
}
.color-lightslategrey {
  color: #789;
}
.border-color-lightslategrey {
  border-color: #789;
}
.background-color-lightsteelblue {
  background-color: #b0c4de;
}
.color-lightsteelblue {
  color: #b0c4de;
}
.border-color-lightsteelblue {
  border-color: #b0c4de;
}
.background-color-lightyellow {
  background-color: #ffffe0;
}
.color-lightyellow {
  color: #ffffe0;
}
.border-color-lightyellow {
  border-color: #ffffe0;
}
.background-color-lime {
  background-color: #0f0;
}
.color-lime {
  color: #0f0;
}
.border-color-lime {
  border-color: #0f0;
}
.background-color-limegreen {
  background-color: #32cd32;
}
.color-limegreen {
  color: #32cd32;
}
.border-color-limegreen {
  border-color: #32cd32;
}
.background-color-linen {
  background-color: #faf0e6;
}
.color-linen {
  color: #faf0e6;
}
.border-color-linen {
  border-color: #faf0e6;
}
.background-color-magenta {
  background-color: #f0f;
}
.color-magenta {
  color: #f0f;
}
.border-color-magenta {
  border-color: #f0f;
}
.background-color-maroon {
  background-color: #800000;
}
.color-maroon {
  color: #800000;
}
.border-color-maroon {
  border-color: #800000;
}
.background-color-mediumaquamarine {
  background-color: #66cdaa;
}
.color-mediumaquamarine {
  color: #66cdaa;
}
.border-color-mediumaquamarine {
  border-color: #66cdaa;
}
.background-color-mediumblue {
  background-color: #0000cd;
}
.color-mediumblue {
  color: #0000cd;
}
.border-color-mediumblue {
  border-color: #0000cd;
}
.background-color-mediumorchid {
  background-color: #ba55d3;
}
.color-mediumorchid {
  color: #ba55d3;
}
.border-color-mediumorchid {
  border-color: #ba55d3;
}
.background-color-mediumpurple {
  background-color: #9370d8;
}
.color-mediumpurple {
  color: #9370d8;
}
.border-color-mediumpurple {
  border-color: #9370d8;
}
.background-color-mediumseagreen {
  background-color: #3cb371;
}
.color-mediumseagreen {
  color: #3cb371;
}
.border-color-mediumseagreen {
  border-color: #3cb371;
}
.background-color-mediumslateblue {
  background-color: #7b68ee;
}
.color-mediumslateblue {
  color: #7b68ee;
}
.border-color-mediumslateblue {
  border-color: #7b68ee;
}
.background-color-mediumspringgreen {
  background-color: #00fa9a;
}
.color-mediumspringgreen {
  color: #00fa9a;
}
.border-color-mediumspringgreen {
  border-color: #00fa9a;
}
.background-color-mediumturquoise {
  background-color: #48d1cc;
}
.color-mediumturquoise {
  color: #48d1cc;
}
.border-color-mediumturquoise {
  border-color: #48d1cc;
}
.background-color-mediumvioletred {
  background-color: #c71585;
}
.color-mediumvioletred {
  color: #c71585;
}
.border-color-mediumvioletred {
  border-color: #c71585;
}
.background-color-midnightblue {
  background-color: #191970;
}
.color-midnightblue {
  color: #191970;
}
.border-color-midnightblue {
  border-color: #191970;
}
.background-color-mintcream {
  background-color: #f5fffa;
}
.color-mintcream {
  color: #f5fffa;
}
.border-color-mintcream {
  border-color: #f5fffa;
}
.background-color-mistyrose {
  background-color: #ffe4e1;
}
.color-mistyrose {
  color: #ffe4e1;
}
.border-color-mistyrose {
  border-color: #ffe4e1;
}
.background-color-moccasin {
  background-color: #ffe4b5;
}
.color-moccasin {
  color: #ffe4b5;
}
.border-color-moccasin {
  border-color: #ffe4b5;
}
.background-color-navajowhite {
  background-color: #ffdead;
}
.color-navajowhite {
  color: #ffdead;
}
.border-color-navajowhite {
  border-color: #ffdead;
}
.background-color-navy {
  background-color: #000080;
}
.color-navy {
  color: #000080;
}
.border-color-navy {
  border-color: #000080;
}
.background-color-oldlace {
  background-color: #fdf5e6;
}
.color-oldlace {
  color: #fdf5e6;
}
.border-color-oldlace {
  border-color: #fdf5e6;
}
.background-color-olive {
  background-color: #808000;
}
.color-olive {
  color: #808000;
}
.border-color-olive {
  border-color: #808000;
}
.background-color-olivedrab {
  background-color: #6b8e23;
}
.color-olivedrab {
  color: #6b8e23;
}
.border-color-olivedrab {
  border-color: #6b8e23;
}
.background-color-orange {
  background-color: #ffa500;
}
.color-orange {
  color: #ffa500;
}
.border-color-orange {
  border-color: #ffa500;
}
.background-color-orangered {
  background-color: #ff4500;
}
.color-orangered {
  color: #ff4500;
}
.border-color-orangered {
  border-color: #ff4500;
}
.background-color-orchid {
  background-color: #da70d6;
}
.color-orchid {
  color: #da70d6;
}
.border-color-orchid {
  border-color: #da70d6;
}
.background-color-palegoldenrod {
  background-color: #eee8aa;
}
.color-palegoldenrod {
  color: #eee8aa;
}
.border-color-palegoldenrod {
  border-color: #eee8aa;
}
.background-color-palegreen {
  background-color: #98fb98;
}
.color-palegreen {
  color: #98fb98;
}
.border-color-palegreen {
  border-color: #98fb98;
}
.background-color-paleturquoise {
  background-color: #afeeee;
}
.color-paleturquoise {
  color: #afeeee;
}
.border-color-paleturquoise {
  border-color: #afeeee;
}
.background-color-palevioletred {
  background-color: #d87093;
}
.color-palevioletred {
  color: #d87093;
}
.border-color-palevioletred {
  border-color: #d87093;
}
.background-color-papayawhip {
  background-color: #ffefd5;
}
.color-papayawhip {
  color: #ffefd5;
}
.border-color-papayawhip {
  border-color: #ffefd5;
}
.background-color-peachpuff {
  background-color: #ffdab9;
}
.color-peachpuff {
  color: #ffdab9;
}
.border-color-peachpuff {
  border-color: #ffdab9;
}
.background-color-peru {
  background-color: #cd853f;
}
.color-peru {
  color: #cd853f;
}
.border-color-peru {
  border-color: #cd853f;
}
.background-color-pink {
  background-color: #ffc0cb;
}
.color-pink {
  color: #ffc0cb;
}
.border-color-pink {
  border-color: #ffc0cb;
}
.background-color-plum {
  background-color: #dda0dd;
}
.color-plum {
  color: #dda0dd;
}
.border-color-plum {
  border-color: #dda0dd;
}
.background-color-powderblue {
  background-color: #b0e0e6;
}
.color-powderblue {
  color: #b0e0e6;
}
.border-color-powderblue {
  border-color: #b0e0e6;
}
.background-color-purple {
  background-color: #800080;
}
.color-purple {
  color: #800080;
}
.border-color-purple {
  border-color: #800080;
}
.background-color-red {
  background-color: #f00;
}
.color-red {
  color: #f00;
}
.border-color-red {
  border-color: #f00;
}
.background-color-rosybrown {
  background-color: #bc8f8f;
}
.color-rosybrown {
  color: #bc8f8f;
}
.border-color-rosybrown {
  border-color: #bc8f8f;
}
.background-color-royalblue {
  background-color: #4169e1;
}
.color-royalblue {
  color: #4169e1;
}
.border-color-royalblue {
  border-color: #4169e1;
}
.background-color-saddlebrown {
  background-color: #8b4513;
}
.color-saddlebrown {
  color: #8b4513;
}
.border-color-saddlebrown {
  border-color: #8b4513;
}
.background-color-salmon {
  background-color: #fa8072;
}
.color-salmon {
  color: #fa8072;
}
.border-color-salmon {
  border-color: #fa8072;
}
.background-color-sandybrown {
  background-color: #f4a460;
}
.color-sandybrown {
  color: #f4a460;
}
.border-color-sandybrown {
  border-color: #f4a460;
}
.background-color-seagreen {
  background-color: #2e8b57;
}
.color-seagreen {
  color: #2e8b57;
}
.border-color-seagreen {
  border-color: #2e8b57;
}
.background-color-seashell {
  background-color: #fff5ee;
}
.color-seashell {
  color: #fff5ee;
}
.border-color-seashell {
  border-color: #fff5ee;
}
.background-color-sienna {
  background-color: #a0522d;
}
.color-sienna {
  color: #a0522d;
}
.border-color-sienna {
  border-color: #a0522d;
}
.background-color-silver {
  background-color: #c0c0c0;
}
.color-silver {
  color: #c0c0c0;
}
.border-color-silver {
  border-color: #c0c0c0;
}
.background-color-skyblue {
  background-color: #87ceeb;
}
.color-skyblue {
  color: #87ceeb;
}
.border-color-skyblue {
  border-color: #87ceeb;
}
.background-color-slateblue {
  background-color: #6a5acd;
}
.color-slateblue {
  color: #6a5acd;
}
.border-color-slateblue {
  border-color: #6a5acd;
}
.background-color-slategray {
  background-color: #708090;
}
.color-slategray {
  color: #708090;
}
.border-color-slategray {
  border-color: #708090;
}
.background-color-slategrey {
  background-color: #708090;
}
.color-slategrey {
  color: #708090;
}
.border-color-slategrey {
  border-color: #708090;
}
.background-color-snow {
  background-color: #fffafa;
}
.color-snow {
  color: #fffafa;
}
.border-color-snow {
  border-color: #fffafa;
}
.background-color-springgreen {
  background-color: #00ff7f;
}
.color-springgreen {
  color: #00ff7f;
}
.border-color-springgreen {
  border-color: #00ff7f;
}
.background-color-steelblue {
  background-color: #4682b4;
}
.color-steelblue {
  color: #4682b4;
}
.border-color-steelblue {
  border-color: #4682b4;
}
.background-color-tan {
  background-color: #d2b48c;
}
.color-tan {
  color: #d2b48c;
}
.border-color-tan {
  border-color: #d2b48c;
}
.background-color-teal {
  background-color: #008080;
}
.color-teal {
  color: #008080;
}
.border-color-teal {
  border-color: #008080;
}
.background-color-thistle {
  background-color: #d8bfd8;
}
.color-thistle {
  color: #d8bfd8;
}
.border-color-thistle {
  border-color: #d8bfd8;
}
.background-color-tomato {
  background-color: #ff6347;
}
.color-tomato {
  color: #ff6347;
}
.border-color-tomato {
  border-color: #ff6347;
}
.background-color-turquoise {
  background-color: #40e0d0;
}
.color-turquoise {
  color: #40e0d0;
}
.border-color-turquoise {
  border-color: #40e0d0;
}
.background-color-violet {
  background-color: #ee82ee;
}
.color-violet {
  color: #ee82ee;
}
.border-color-violet {
  border-color: #ee82ee;
}
.background-color-wheat {
  background-color: #f5deb3;
}
.color-wheat {
  color: #f5deb3;
}
.border-color-wheat {
  border-color: #f5deb3;
}
.background-color-white {
  background-color: #fff;
}
.color-white {
  color: #fff;
}
.border-color-white {
  border-color: #fff;
}
.background-color-whitesmoke {
  background-color: #f5f5f5;
}
.color-whitesmoke {
  color: #f5f5f5;
}
.border-color-whitesmoke {
  border-color: #f5f5f5;
}
.background-color-yellow {
  background-color: #ff0;
}
.color-yellow {
  color: #ff0;
}
.border-color-yellow {
  border-color: #ff0;
}
.background-color-yellowgreen {
  background-color: #9acd32;
}
.color-yellowgreen {
  color: #9acd32;
}
.border-color-yellowgreen {
  border-color: #9acd32;
}
