.zoom-in {
  animation: zoom-in 1s;
}
.zoom-in-half {
  animation: zoom-in 2s linear -1s;
}
@-moz-keyframes zoom-in {
  from {
    transform: scale(0);
  }
}
@-webkit-keyframes zoom-in {
  from {
    transform: scale(0);
  }
}
@-o-keyframes zoom-in {
  from {
    transform: scale(0);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
}
