/* @group Grid */
.container
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  margin: 0 auto
  padding: 0 (15 * golden-ratio) rem
  position: relative
  width: 96%

.grid-flex
    display: -webkit-box
    align-items: top
    display: flex
    flex-wrap: wrap
    -ms-flex-wrap: wrap

.row:after
    clear: both
    content: ''
    display: table

for i in (1..12)
  .flex-{i}
    -webkit-box-flex:i
    -moz-box-flex:i
    -ms-box-flex:i
    flex:i
    margin: 0 (golden-ratio)rem

/* @end */
