/* @group Base */
/*csslint universal-selector:false */
*
  color: color-black
  font-family: font
  font-size: typography-size-base
  font-weight: 400
  margin: 0.25em 0
  padding: 0
  word-wrap: break-word

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

textarea
  border-color: color-grey

input
    padding 0.25em
/* @end */
