/* @group Base */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block

html
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

body
  color: color-black
  font-family: font
  font-size: typography-size-base
  font-weight: 400
  margin: 0
  padding: 0
  word-wrap: break-word
/* @end */
