/* @group Base */
html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

*
  color: color-black
  font-family: font
  font-size: typography-size-base
  font-weight: 400
  margin: 0.25em 0
  padding: 0
  word-wrap: break-word

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block

/* @end */
