/* @group Button */
button, .button, [type=submit]
  background: color-grey
  border:0
  color: color-white
  cursor: pointer
  padding: 9px 20px
  text-align: center
  text-decoration: none
  transition: all 150ms linear
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:link, &:visited {
    color: color-white
  }
  &:active
    color: color-white
    opacity: 0.75
    transition: all 150ms linear
    text-decoration: none
  &:hover
    background: color-lighter-grey
    color: color-black
    opacity: 0.85
    transition: all 150ms linear
    text-decoration: none
  &:focus
    background: color-lighter-grey
    color: color-black
    opacity: 0.7
    transition: all 150ms linear
    text-decoration: none
  &[disabled],
  &:disabled,
  &.disabled
    cursor: default
    opacity: .5
    pointer-events: none
/* @end */
