/* @group Button */
button, .button, [type=submit]
  background: color-white
  color: color-black
  font-size: typography-size-base
  padding: 20px
  text-decoration: none
  transition: transition
&:hover, &:focus
  opacity: 0.9
&:active
  opacity: 0.7
&.outline
  background: none
  color: color-white
&:hover, &:focus
  background: color-white
  color: color-black  
/* @end */
