/* @group Button */
button, .button, [type=submit]
  background: color-grey
  border:0
  cursor: pointer
  padding: 9px 20px
  text-align: center
  text-decoration: none
  transition: all 150ms linear
  &:active
    opacity: 0.75
    transition: all 150ms linear
  &:hover
    background: color-lighter-grey
    opacity: 0.85
    transition: all 150ms linear
  &:focus
    background: color-lighter-grey
    opacity: 0.7
    transition: all 150ms linear
/* @end */
