/* @group Code */
pre, code
  background: color-lighter-grey
  display: block
  font-family: "Consolas", "Monaco", "Menlo", monospace
  padding: 10px
  white-space: pre-wrap
  word-wrap: break-word
/* @end */
