/* Table Of Content
==================================================
	# Base
	# Grid
	# Typography
	# Links
	# Lists
	# Image
	# Divider
	# Util
==================================================
*/
// Colours
color-black  	= #000000
color-grey 		= #696969
color-blue		= #3344dd
color-red			= #b50010
color-purple	= #804180

// Fonts
font = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif

// Typography Scale
// let s = size, b = base (1rem), r = ratio, and l = level -> s = b * (r ^ l)
typography-size-base = 1rem

typography-size-ratio = 1.2
typography-size-1 = round(typography-size-base * (typography-size-ratio ** 6), 3)
typography-size-2 = round(typography-size-base * (typography-size-ratio ** 5), 3)
typography-size-3 = round(typography-size-base * (typography-size-ratio ** 4), 3)
typography-size-4 = round(typography-size-base * (typography-size-ratio ** 3), 3)
typography-size-5 = round(typography-size-base * (typography-size-ratio ** 2), 3)
typography-size-6 = round(typography-size-base * typography-size-ratio, 3)

typography-size-small-ratio = 1.125
typography-size-small-1 = round(typography-size-base * (typography-size-small-ratio ** 6), 3)
typography-size-small-2 = round(typography-size-base * (typography-size-small-ratio ** 5), 3)
typography-size-small-3 = round(typography-size-base * (typography-size-small-ratio ** 4), 3)
typography-size-small-4 = round(typography-size-base * (typography-size-small-ratio ** 3), 3)
typography-size-small-5 = round(typography-size-base * (typography-size-small-ratio ** 2), 3)
typography-size-small-6 = round(typography-size-base * typography-size-small-ratio, 3)
