/* @group Input */
input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], input[type=url], select, textarea
  background: color-white
  border-round(color-black)
  font-size: typography-size-base
  margin-bottom: 10px
  padding: 10px
  transition: all 150ms linear

  &:hover
    border-color: color-black

  &:focus
    border-color: color-grey
    outline: none
/* @end */
