/* @group Links */
a
  background-color: transparent
  color: color-blue
  text-decoration: none

  &:focus
    outline: thin dotted
    outline: 1px auto -webkit-focus-ring-color
    outline-offset: -2px

  &:active,
  &:hover
    color: color-black

/* @end */
