/* @group Links */
a
  &:link
    color: color-blue
    text-decoration: none
  &:visited
    color: color-purple
  &:hover,&:active
    color: color-red
    text-decoration: underline
  &:focus
    color: color-red
    outline: thin dotted
    outline: 1px auto -webkit-focus-ring-color
    outline-offset: -2px
/* @end */
