/* @group Lists */
ul, ol
  margin: typography-size-base 0

ul
  list-style: none outside

ol
  list-style: decimal

li
  line-height: typography-size-base
  margin-bottom: typography-size-base

ol,
ul.square,
ul.circle,
ul.disc
    margin-left: typography-size-base

ul.square
    list-style: square outside

ul.circle
    list-style: circle outside

ul.disc
    list-style: disc outside

ul ul,
ul ol,
ol ol,
ol ul
    font-size: 90%
    margin: 4px 0 5px 30px

/* @end */
