/* @group Lists */
table
  border-collapse: collapse
  border-spacing: 0
  padding-bottom: 25px

td, th
  border-bottom: 1px solid color-lighter-grey
  padding: 5px
  vertical-align: bottom
/* @end */
