/* @group Lists */
table
  border: 1px solid color-grey
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  padding-bottom: 25px

thead
  background-color: color-lighter-grey
  color: color-black
  text-align: left
  vertical-align: bottom

td, th
  background-color: transparent
  border-left: 1px solid color-grey
  border-width: 0 0 0 1px
  font-size: inherit
  margin: 0
  overflow: visible
  padding: 6px 12px
  vertical-align: bottom
/* @end */
