/* @group Base */

@charset "UTF-8"

:root

  /// Basic primary colors
  $primary          = #0047dd
  $secondary        = #0057a8
  $tertiary         = #777777
  $disable          = #F1F3F4
  $info             = #008196
  $inverse          = #ffffff
  $link             = #1b6ec2
  $danger           = #b2081a
  $success          = #2e6430
  $warning          = #993900

  $bg-primary      = #c6cdff
  $bg-secondary    = #a9d2ff
  $bg-tertiary     = #777777
  $bg-disable      = #F1F3F4
  $bg-info         = #f7ffff
  $bg-inverse      = #ffffff
  $bg-link         = #1b6ec2
  $bg-danger        = #ffc0ad
  $bg-success      = #a5dfa2
  $bg-warning      = #ffc286



  --color-link: 255, 0, 0;

  /// Golden ratio variables
  --golden-ratio-font-size        golden-font-size-base
  --golden-ratio-font-size-small  golden-font-size-small
  --golden-ratio-font-size-large  golden-font-size-large
  --golden-ratio-line-height      golden-line-height

  --background-color-900          $grey-900
  --background-color-800          $grey-800
  --background-color-700          $grey-700
  --background-color-600          $grey-600
  --background-color-500          $grey-500
  --background-color-400          $grey-400
  --background-color-300          $grey-300
  --background-color-200          $grey-200
  --background-color-100          $grey-100
  --background-color-inverted     $black
  --background-color              $white
  --border-color                  $black
  --border-color-100              $grey-100
  --border-color-200              $grey-200
  --border-color-300              $grey-300
  --border-color-400              $grey-400
  --border-color-500              $grey-500
  --border-color-600              $grey-600
  --border-color-700              $grey-700
  --border-color-800              $grey-800
  --border-color-900              $grey-900
  --button-color                  $white
  --color                         $black
  --link-color                    color-blue
  --link-color-visited            color-purple
  --link-color-hover              color-red
  --link-color-focus              color-red
  --inverted-color                $white

html
  -webkit-text-size-adjust 100%
  display block
  font-family sans-serif
  font-size 63.204452685542773%
  text-rendering optimizeLegibility

body
  color var(--color)
  background-color var(--background-color)
  font-family font
  font-size var(--golden-ratio-font-size)
  font-weight 400
  word-wrap break-word

html,
body,
button,
span,
object,
iframe,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
select,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
a
  box-sizing border-box

strong, b
  font-weight 700
  color var(--color)

em, i
  font-style italic

small
  font-size var(--golden-ratio-font-size-small)

sup
  font-size var(--golden-ratio-font-size-small)
  top 0.8em

sub
  font-size var(--golden-ratio-font-size-small)
  bottom -0.8em

/* @end */
