.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

.left,
[left]
  float: left !important

.right,
[right]
  float: right !important

.capitalized,
[capitalized]
  text-transform: capitalize !important

.lowercase,
[lowercase]
  text-transform: lowercase !important

.uppercase,
[uppercase]
  text-transform: uppercase !important

.italic,
[italic]
  font-style: italic !important

.nomargin,
[nomargin]
  margin: 0 !important

.nopadding,
[nopadding]
  padding: 0 !important

.hidden,
[hidden]
    display: none !important

