/* @group Container */
.container
  box-sizing border-box
  margin 0 auto
  position relative
  width 96%

.container:after,.container:before
    display table
    content ""

.container
    &:after
        clear both

/* @end */
